<div class="widget widget-tags u-shadow">
<img class="img-widget" src="/content/images/2020/12/radar.png" alt="Intranet Prototype">
    <h4 class="widget-title">El radar</h4>
    <p class="text-widget">Plataformas, técnicas, herramientas, lenguajes & frameworks en tendencia.</p>
    <a class="button-proto" href="/radar/" target="_blank">Consultar radar -></a> <br>
    

    <h4 class="widget-title">Probando herramientas</h4>
    <p class="text-widget">Nuestro equipo de R+D de Reboot, se encuentra probando estas herramientas en fase beta. ¿Nos quieres ayudar a probar?</p>
    <a class="button-proto" href="/tag/el-radar/" target="_blank">Alza la mano -></a><br>
    <p class="text-widget">¿Quieres proponer una herramienta?</p>
</div>