<footer class="widget-area">
<div class="row">
<div class="col-4">
    {{> widgets/widget-cumples}}
    </div>
    <div class="col-4">
    {{> widgets/widget-reboot-del-mes}}
    </div>
    <div class="col-4">
    {{> widgets/widget-path-de-carrera}}
    </div>
    </div>

</footer>